# SQL Joins

- https://www.w3schools.com/sql/sql_join.asp
- DBs are normalized to reduce duplicate data records
- records are splitted across tables as they're stored when DB is normalized
- when records need to selected, rows across the tables are combined based on some common/related columns

## Types of Joins

- there are several types of joins: inner join, left join, right join, cross join (full outer join)
- https://sqlite.org/syntax/join-operator.html

### INNER JOIN

- also called just JOIN
![Inner Join](https://www.w3schools.com/sql/img_innerjoin.gif)
- return records that have matching values in both tables
- run the following query on chinook.sqlite database

```sql
SELECT 
    albums.Title,
    artists.Name
FROM 
    albums
INNER JOIN artists 
    ON artists.ArtistId = albums.ArtistId;
```
- select Title from albums and Name from artists if common ArtistId is found in both the tables

In [1]:
from python import db

In [2]:
db_file = 'data/chinook.sqlite'

In [6]:
select = '''SELECT 
        albums.Title,
        artists.Name
    FROM 
        albums
    INNER JOIN artists 
        ON artists.ArtistId = albums.ArtistId;
'''

In [7]:
rows = db.select_all_rows(db_file, select, ())

In [8]:
# let's print the first 10 rows
print(rows[:10])

[('For Those About To Rock We Salute You', 'AC/DC'), ('Balls to the Wall', 'Accept'), ('Restless and Wild', 'Accept'), ('Let There Be Rock', 'AC/DC'), ('Big Ones', 'Aerosmith'), ('Jagged Little Pill', 'Alanis Morissette'), ('Facelift', 'Alice In Chains'), ('Warner 25 Anos', 'Antônio Carlos Jobim'), ('Plays Metallica By Four Cellos', 'Apocalyptica'), ('Audioslave', 'Audioslave')]

## LEFT JOIN

- also called LEFT OUTER JOIN
![Left join](https://www.w3schools.com/sql/img_leftjoin.gif)
- return all records from the left table, and the matched records from the right table
- if a row from the left table doesn’t have a matching row in the right table, SQLite includes NULL for the columns of the right table that are being selected

```sql
SELECT
    Name, 
    Title
FROM
    artists
LEFT JOIN albums ON
    artists.ArtistId = albums.ArtistId
ORDER BY Name;
```

In [9]:
select = '''
    SELECT
        Name, 
        Title
    FROM
        artists
    LEFT JOIN albums ON
        artists.ArtistId = albums.ArtistId
    ORDER BY Name;
'''

In [10]:
rows = db.select_all_rows(db_file, select, ())

In [12]:
print(rows[:20])

[(None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), ('A Cor Do Som', None), ('AC/DC', 'For Those About To Rock We Salute You'), ('AC/DC', 'Let There Be Rock'), ('Aaron Copland & London Symphony Orchestra', 'A Copland Celebration, Vol. I'), ('Aaron Goldberg', 'Worlds'), ('Academy of St. Martin in the Fields & Sir Neville Marriner', 'The World of Classical Favourites'), ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 'Sir Neville Marriner: A Celebration'), ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 'Fauré: Requiem, Ravel: Pavane & Others'), ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 'Bach: Orchestral Suites Nos. 1 - 4'), ('Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett', None)]

## RIGHT JOIN
- also called RIGHT OUTER JOIN

![RIGHT JOIN](https://www.w3schools.com/sql/img_rightjoin.gif)
- return all records from the right table, and the matched records from the left table
- if a row from the right table doesn’t have a matching row in the left table, SQLite includes NULL for the columns of the left table that are being selected

```sql
SELECT
    Name, 
    Title
FROM
    artists
RIGHT JOIN albums ON
    artists.ArtistId = albums.ArtistId
ORDER BY Name;
```

In [16]:
select = '''
    SELECT
    Name, 
    Title
FROM
    artists
RIGHT JOIN albums ON
    artists.ArtistId = albums.ArtistId
ORDER BY Name;
'''

In [17]:
rows = db.select_all_rows(db_file, select, ())

In [18]:
print(rows[:10])

[('AC/DC', 'For Those About To Rock We Salute You'), ('AC/DC', 'Let There Be Rock'), ('Aaron Copland & London Symphony Orchestra', 'A Copland Celebration, Vol. I'), ('Aaron Goldberg', 'Worlds'), ('Academy of St. Martin in the Fields & Sir Neville Marriner', 'The World of Classical Favourites'), ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 'Sir Neville Marriner: A Celebration'), ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 'Fauré: Requiem, Ravel: Pavane & Others'), ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 'Bach: Orchestral Suites Nos. 1 - 4'), ('Accept', 'Balls to the Wall'), ('Accept', 'Restless and Wild')]

## FULL OUTER JOIN

- also called FULL JOIN
![FULL OUTER JOIN](https://www.w3schools.com/sql/img_fulljoin.gif)
- returns all matching records from both tables whether the other table matches or not

```sql
SELECT
    Name, 
    Title
FROM
    artists
FULL OUTER JOIN albums ON
    artists.ArtistId = albums.ArtistId
ORDER BY Name;
```

In [19]:
select = '''
    SELECT
        Name, 
        Title
    FROM
        artists
    FULL OUTER JOIN albums ON
        artists.ArtistId = albums.ArtistId
    ORDER BY Name;
'''

In [20]:
rows = db.select_all_rows(db_file, select, ())

In [22]:
print(rows[:20])

[(None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), ('A Cor Do Som', None), ('AC/DC', 'For Those About To Rock We Salute You'), ('AC/DC', 'Let There Be Rock'), ('Aaron Copland & London Symphony Orchestra', 'A Copland Celebration, Vol. I'), ('Aaron Goldberg', 'Worlds'), ('Academy of St. Martin in the Fields & Sir Neville Marriner', 'The World of Classical Favourites'), ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 'Sir Neville Marriner: A Celebration'), ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 'Fauré: Requiem, Ravel: Pavane & Others'), ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 'Bach: Orchestral Suites Nos. 1 - 4'), ('Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett', None)]